@{
    var Name = "Mobinasadat Zargary";
    var studentID = "101472495";
    var courseCode = "COMP2139";
}

<!DOCTYPE html>
<html>
<head>
    <title>Welcome to my about page</title>
</head>
<body>
    <h1>About Me</h1>
    <p> Name: @Name</p>
    <p> ID: @studentID</p>
    <p> Course Code: @courseCode</p>
</body>
</html>
